* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    text-align: center;
    background-color: #f1ecda;
}

/* HEADER */
header {
    background-color: #035f26;
    background-attachment: scroll;
    background-size: 30% ;
    margin: 0px;
}

/* NAV BAR */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding: 20px;
}

/* REMOVING THE DEFAULT STYLE */
header nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

/* THE LINKS */
header nav ul li a {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
    display: inline-block;
    border-style: solid;
}

/* HOVER EFFECTS */
header nav ul li a:hover {
    background-color: azure;
    transform: translateY(-2px);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2px;
}

p {
    font-size: 18px;
    line-height: 1.7;
    margin-top: 20px;
    font-weight: 400;
    font-family: Georgia, serif;
}

/* Services */
#services {
   margin-top: 30px;
   background: #f1ecda;
   border-style: solid;
   border-color: #f1ecda;
   margin-top: 70px;
}

#services h2 {
    font-size: 60px;
    font-weight: 600;
}

#services ul {
    border-style: solid;
    border-color: #f1ecda;
   list-style: none;
   padding: 0;
   margin: 0;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 10px;
}

#services li {
    margin-top: 10px;
    border-style: solid;
    width: 250px;
    max-width: 800px;
    margin: 15px auto;
    border-radius: 7px;
    padding: 10px;
}

/* FOOTER */
footer {
    background-color: #035f26;
    background-attachment: scroll;
    background-size: 20%;
    text-align: center;
}

footer p {
    font-size: 15px;
    margin: 0;
}

/* WHO WE ARE */
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    font-weight: lighter;
    letter-spacing: 1px;
}

article {
    background-color: #f1ecda;
    padding: 50px;
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1;
    border: 2px solid #cdc9be;
    border-radius: 10px;
    box-shadow:0 10px 30px darkgrey;
}

#mission {
    background-color: #f1ecda;
    padding: 50px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1;
    border: 2px solid #cdc9be;
    border-radius: 10px;
    box-shadow:0 10px 30px darkgrey;
}

#vision {
    background-color: #f1ecda;
    padding: 50px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1;
    border: 2px solid #cdc9be;
    border-radius: 10px;
    box-shadow:0 10px 30px darkgrey;
}

#wcu {
    background-color: #f1ecda;
    padding: 50px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1;
    border: 2px solid #cdc9be;
    border-radius: 10px;
    box-shadow:0 10px 30px darkgrey;
}

#wcu ul {
    list-style: none;
    margin: 4px;
    justify-content: center;
}

#wcu li {
    margin: 15px auto;
}

/* TOURS AND SERVICES */
/* MAASAI MARA PACKAGE */
#maasai {
    max-width: 1250px;
    margin-top: 20px;
    margin-bottom: 90px;
    padding: 40px;
    border: 2px solid #cdc9be;
    border-radius: 10px;
    box-shadow: 0 10px 30px darkgrey;
}
#maasai img {
    max-width: 100%;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
}
#maasai h4 {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
}
#maasai p {
    margin: 10px 0;
    font-size: 25px;
    line-height: 1.6;
}
#maasai ul {
    list-style: none;
    padding: 10px;
}
#maasai li{
    margin: 5px auto;
    font-size: 20px;
}
#maasai button {
    background-color: #cdc9be;
    color: black;
    border: none;
    padding: 28px 32px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}
#maasai button:hover {
    background-color: darkgrey;
}

/* MOUNT KENYA PACKAGE */
#mkh {
    max-width: 1250px;
    margin-bottom: 90px;
    padding: 40px;
    border: 2px solid #cdc9be;
    border-radius: 10px;
    box-shadow: 0 10px 30px darkgrey;
}
#mkh img {
    max-width: 100%;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
}
#mkh h4 {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
}
#mkh p {
    margin: 10px 0;
    font-size: 25px;
    line-height: 1.6;
}
#mkh ul {
    list-style: none;
    padding: 10px;
}
#mkh li{
    margin: 5px auto;
    font-size: 20px;
}
#mkh button {
    background-color: #cdc9be;
    color: black;
    border: none;
    padding: 28px 32px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}
#mkh button:hover {
    background-color: darkgrey;
}

/* DIANI PACKAGE */
#diani {
    max-width: 1250px;
    margin-bottom: 30px;
    padding: 40px;
    border: 2px solid #cdc9be;
    border-radius: 10px;
    box-shadow: 0 10px 30px darkgrey;
}
#diani img {
    max-width: 100%;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
}
#diani h4 {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 1px;
}
#diani p {
    margin: 10px 0;
    font-size: 25px;
    line-height: 1.6;
}
#diani ul {
    list-style: none;
    padding: 10px;
}
#diani li{
    margin: 5px auto;
    font-size: 20px;
}
#diani button {
    background-color: #cdc9be;
    color: black;
    border: none;
    padding: 28px 32px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}
#diani button:hover {
    background-color: darkgrey;
}
/* FORM PAGE */
#form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    padding: 80px 20px;;
    background-color: #f1ecda;
}
#book, #request {
    background-color: #f1ecda;
    width: 100%;
    height: 100%;
    max-height: 900px;
    line-height: 25px;
    font-size: 20px;
    text-align: left;
}
#book legend {
    text-align: center;
}
#book input, select {
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-style: 1px hidden #cdcdcd;
    box-shadow: 0 10px 30px darkgrey;
}
#book fieldset {
    border-color: #cdc9be;
    box-shadow: 0 10px 40px darkgrey;
    border-radius: 15px;
}
#request legend {
    text-align: center;
}
#request input, select {
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-style: 1px hidden #cdcdcd;
    box-shadow: 0 10px 30px darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
#request fieldset {
    border-color: #cdc9be;
    box-shadow: 0 10px 40px darkgrey;
    border-radius: 15px;
}
#request textarea {
    width: 100%;
}
#form button {
    display: block;
    width: 20%;
    margin-top: 25px;
    padding: 20px;
    border-radius: 20px;
    background-color:#f1ecda;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}
#form button:hover {
    background-color: #cdcdcd;
}
#insta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    border:1px solid #cdc9be;
    border-radius: 10px;
    box-shadow: 0 10px 30px darkgrey;
    margin-bottom: 20px;
}
#x {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    border:1px solid #cdc9be;
    border-radius: 10px;
    box-shadow: 0 10px 30px darkgrey;
    margin-bottom: 20px;
}
#email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    border:1px solid #cdc9be;
    border-radius: 10px;
    box-shadow: 0 10px 30px darkgrey;
}
